<div class="container-fluid text-center banner banner-profile"
style="
background: url({{currentCompany.bannerImage || placeholder.companyBanner}}) 50% / 100%;">
  <div class="banner-body">
    <h1>{{currentCompany.name}}</h1>
  </div>
</div>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/profile/company/{{items[0].cid}}/">About<span class="sr-only">(current)</span></a></li>
          <li><a href="#profile/company/{{items[0].cid}}/employees">Employees</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container profile-body">
    <div class="col-md-9">
      <h3> Welcome to {{currentCompany.name}} </h3>
      <p class="about">{{currentCompany.about}}</p>
    </div>
    <div class="col-md-3">
      <div ng-if="!workedHere(currentCompany._id)">
        <h4> Worked here before? </h4>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addCompanyToProfile">Add to profile</button>
      </div>
      <div>
        <h4> Location </h4>
        {{currentCompany.location.state}}, {{currentCompany.location.country}}, {{currentCompany.location.zip}}
      </div>

      <div>
        <h4> Contact </h4>
        <a href="mailto:{{currentCompany.email}}">{{currentCompany.email}}</a>
      </div>

      <div>
        <h4> Website </h4>
        <a target="_blank" href="{{currentCompany.website}}"> {{currentCompany.website}}</a>
      </div>  
    </div> 
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addCompanyToProfile" tabindex="-1" role="dialog" aria-labelledby="addCompanyToProfileLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addCompanyToProfileLabel">Add {{currentCompany.name}} to your profile</h4>
        </div>
        <div class="modal-body">
          <form class="form" ng-submit="addCompanyToProfile(addThisCompanyToProfile)">
            <input type="text" value="{{currentCompany._Id}}" ng-model="addThisCompanyToProfile._id" hidden/>
            <div class="form-group">
              <label>Title of designation</label>
              <input class="form-control" type="text" ng-model="addThisCompanyToProfile.title" placeholder="Title of designation"> 
            </div>
            <div class="form-group form-inline">
              <label>Joining Date</label>
              <input class="form-control" type="date" ng-model="addThisCompanyToProfile.from" placeholder="Joining date"/>
              <label>Leaving Date</label>
              <input class="form-control" type="date" ng-model="addThisCompanyToProfile.to" placeholder="Leaving date"/>
              <div class="help-block">Leave leaving date blank if you are still working here.</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">  
    <div class="col-md-8">
    <div class="search-item panel panel-default" ng-repeat="i in retrieveStudents()>
    <div class="panel-heading">
    <h4>{{i.name}}</h4>
    </div>
    <div class="panel-body">
    <img src="{{i.image}}" alt="{{i.name}}'s image"/>
    {{i.description}}
    </div>
    </div>

    <div class="col-md-4">
    <div class="btn-group-vertical" role="group" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">B.E</button>
    <button type="button" class="btn btn-default">M.TECH</button>
    </div>
    </div>
    </div>
  --></div>

