<div class="container-fluid text-center banner banner-profile"
style="background: url({{currentCompany.bannerImage || placeholder.companyBanner}}) 50% / 100%;">
  <div class="banner-body"> <h3>{{currentCompany.name}}</h3> </div>
</div>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#profile/company/{{currentCompany._id}}/">About<span class="sr-only">(current)</span></a></li>
        <li ng-if="isLoggedIn && workedHere(currentCompany._id)" class="active"><a href="#profile/company/{{currentCompany._id}}/employees">Employees</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container profile-body">
    <div class="col-md-9">
      <h3> Employees of {{currentCompany.name}}</h3>
      <div class="form-group form-inline">
        <label> Filter results </label>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-search"></span>
          <input type="text" style="width:300px" class="form-control" placeholder="Search employees" ng-model="searchFilter">
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default list-item card" ng-repeat="employee in currentCompany.employees | filter : searchFilter">
          <div class="panel-heading">
            <h5> 
              <a href="#/profile/user/{{employee.username}}">
                <img class="profile-image" src="{{employee.image || placeholder.profileImage}}"/> 
                {{employee.name}}
              </a> 
            </h5>
            <h5> <small> {{employee.location.state + " " + employee.location.country}} </small> </h5>
          </div>
          <div class="panel-body"> {{getWorkDescription(employee, currentCompany._id)}} </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-if="isLoggedIn && !workedHere(currentCompany._id)">
        <h4> Worked here before? </h4>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addCompanyToProfile">Add to profile</button>
      </div>
      <div>
        <h4> Location </h4>
        {{currentCompany.location.state}}, {{currentCompany.location.country}}, {{currentCompany.location.zip}}
      </div>

      <div>
        <h4> Contact </h4>
        <a href="mailto:{{currentCompany.email}}">{{currentCompany.email}}</a>
      </div>

      <div>
        <h4> Website </h4>
        <a target="_blank" href="{{currentCompany.website}}"> {{currentCompany.website}}</a>
      </div>  
    </div> 
  </div>
</div>
