<div class="container">
<h2> About Collnet </h2> 
<p class="about"> The most important and influential part for the success of any organisation is the communication channel through which the current students, alumni and new aspirants can connect to each other. In today’s world, where social networking sites create separate groups for individual group of students belonging to a particular class, this project comes up with a centralised platform where not only the students of a single organisation can connect to each other at a single platform but students of any organisation across the world can connect and get complete information about any student across the globe.
Take all the socializing you typically do as a college student, crank it up a few notches, and you have networking of the sort that can truly help you. </p>

<div class="jumbotron">
<h4> CollNet is all about networking and connections. </h4>
<ul style="font-size: 170%;">
  <li> Students engaging with their classmates. </li>
  <li>Alumni engaging with their classmates. </li>
  <li> Students engaging with their alumni. </li>
</ul>
</div>

<p>Once registered in a college with our app, the student doesn’t have to worry about numerous groups it need to join to get correct information. It becomes easy for him/her to contact other students from his section / department or even college. Further posts at each level allow a better medium of communication than what present social networking sites offer. We can query the data on basis of student’s info like college, work profile etc. One can even find colleges which have students working in, say Facebook. This way it helps a fresher to better select a college to join by seeing such statistics.</p>

<div class="text-center"> <a href="https://github.com/bogas04/collnet/" target="_blank"> Fork on GitHub </a> </div>
