<div class="container-fluid text-center banner banner-profile"
style="background: url({{currentInstitute.bannerImage || placeholder.instituteBanner}}) 50% / 100%;">
  <div class="banner-body"> <h3>{{currentInstitute.name}}</h3> </div>
</div>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#profile/institute/{{currentInstitute._id}}/">About<span class="sr-only">(current)</span></a></li>
        <li ng-if="isLoggedIn && studiedHere(currentInstitute._id)"><a href="#profile/institute/{{currentInstitute._id}}/students">Students</a></li>
        <li ng-if="isLoggedIn && studiedHere(currentInstitute._id)" class="active"><a href="#profile/institute/{{currentInstitute._id}}/posts">Posts</a></li>
      </ul>
    </div>
  </nav>

  <div class="container profile-body">
    <div class="col-md-9">
      <div class="row" style="margin-bottom:20px"> 
        <button class="btn btn-primary" data-target="#addPostModal" data-toggle="modal">Add Post</button> 
      </div>
      <div class="row">
        <form ng-submit="filterPostsBy(filterBy)">
          <div class="form-group">
            <label> Show posts for : </label>
            <select ng-model="filterBy">
              <option value="i">{{currentInstitute.name}}</option>
              <option value="d">{{currentEducationHistory.discipline}}</option>
              <option value="y">{{toDate(currentEducationHistory.fromDate).getFullYear()}}</option>
              <option value="dy">{{currentEducationHistory.discipline}}, {{toDate(currentEducationHistory.fromDate).getFullYear()}}</option>
              <option value="dys">{{currentEducationHistory.discipline}} - {{currentEducationHistory.section}}, {{toDate(currentEducationHistory.fromDate).getFullYear()}} </option>
            </select>
            <button class="btn btn-info">Filter</button>
          </div>
        </form>
        <div class="panel panel-default list-item" ng-repeat="post in currentInstitute.posts">
          <div class="panel-heading">
            <h5> 
              <a href="#/profile/user/{{post.postBy.username}}">
                <img class="profile-image" src="{{post.postBy.image || placeholder.profileImage}}"/> 
                {{post.postBy.name}}
              </a> 
            </h5>
            <h5> <small> {{stringifyDate(toDate(post.timestamp))}} </small> </h5>
          </div>
          <div class="panel-body"> 
            <div class="post-body">
              <div>{{post.text}}</div>
              <label class="btn btn-link"> 
                <input ng-model="post.showComments" class="toggle-checkbox" value="false" type="checkbox"/>
                {{post.comments.length}} Comments 
              </label>
            </div>
            <div class="comments-wrapper" ng-if="post.showComments">
              <div class="add-comment">
                <form ng-submit="addComment(post._id, addThisComment)">
                  <div class="form-group form-inline">
                    <textarea class="form-control" placeholder="Add a comment" ng-model="addThisComment.text"></textarea>
                    <button class="btn btn-info">Add Comment</button>
                    <div class="alert {{addCommentMessageType}} alert-dismissible message" role="alert" ng-if="addCommentMessage">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {{addCommentMessage}}
                    </div>
                  </div>
                </form>
              </div>
              <div ng-repeat="comment in post.comments">
                <div class="row comment">
                  <div class="col-md-3 comment-profile">
                    <a href="#/profile/user/{{comment.commentBy.username}}">
                      <img class="profile-image" src="{{comment.commentBy.image || placeholder.profileImage}}"/> 
                      {{comment.commentBy.name}}
                    </a> 
                    <h5> <small> {{stringifyDate(toDate(post.timestamp))}} </small> </h5>
                  </div>
                  <div class="col-md-9 comment-body">{{comment.text}}</div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-if="isLoggedIn && !studiedHere(currentInstitute._id)">
        <h5> Studied here before? </h5>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addInstituteToProfile">Add to profile</button>
      </div>
      <div>
        <h5> Year of Establishment </h5>
        {{stringifyDate(toDate(currentInstitute.yearOfEstablishment))}}
      </div>
      <div>
        <h5> Location </h5>
        {{currentInstitute.location.state}}, {{currentInstitute.location.country}}, {{currentInstitute.location.zip}}
      </div>
      <div>
        <h5> Contact </h5>
        <a href="mailto:{{currentInstitute.email}}">{{currentInstitute.email}}</a>
      </div>
      <div>
        <h5> Website </h5>
        <a target="_blank" href="{{currentInstitute.website}}"> {{currentInstitute.website}}</a>
      </div>
    </div> 
  </div>
  <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addPostModalLabel">Add new post</h4>
        </div>
        <form class="form" ng-submit="addPost(currentInstitute._id, addThisPost)">
          <div class="modal-body">
            <div class="form-group">
              <label> The post is for : </label>
              <select ng-model="addThisPost.postForType" required>
                <option value="i">{{currentInstitute.name}}</option>
                <option value="d">{{currentEducationHistory.discipline}}</option>
                <option value="y">{{toDate(currentEducationHistory.fromDate).getFullYear()}}</option>
                <option value="dy">{{currentEducationHistory.discipline}}, {{toDate(currentEducationHistory.fromDate).getFullYear()}}</option>
                <option value="dys">{{currentEducationHistory.discipline}} - {{currentEducationHistory.section}}, {{toDate(currentEducationHistory.fromDate).getFullYear()}} </option>
              </select>
              <div class="form-group">
                <label> Add a new post </label>
                <textarea class="form-control" ng-model="addThisPost.text" placeholder="Enter post contents"></textarea>
              </div>
              <div class="alert {{addPostMessageType}} alert-dismissible message" role="alert" ng-if="addPostMessage">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{addPostMessage}}
              </div>
            </div>
            <div class="modal-footer">
              <a class="btn btn-default" data-dismiss="modal">Close</a>
              <button class="btn btn-primary">Add Post</button>
            </div>
        </form>
          </div>
      </div>
    </div>
  </div> 
