<div class="container-fluid text-center banner banner-profile"
style="background: url({{currentInstitute.bannerImage || placeholder.instituteBanner}}) 50% / 100%;">
  <div class="banner-body"> <h3>{{currentInstitute.name}}</h3> </div>
</div>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#profile/institute/{{currentInstitute._id}}/">About<span class="sr-only">(current)</span></a></li>
        <li ng-if="isLoggedIn && studiedHere(currentInstitute._id)" class="active"><a href="#profile/institute/{{currentInstitute._id}}/students">Students</a></li>
        <li ng-if="isLoggedIn && studiedHere(currentInstitute._id)"><a href="#profile/institute/{{currentInstitute._id}}/posts">Posts</a></li>
      </ul>
    </div>
  </nav>

  <div class="container profile-body">
    <div class="col-md-9">
      <h3> Students of {{currentInstitute.name}}</h3>
      <div class="form-group form-inline">
        <label> Filter results </label>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-search"></span>
          <input type="text" style="width:300px" class="form-control" placeholder="Search students" ng-model="searchFilter">
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default list-item card" ng-repeat="student in currentInstitute.students | filter : searchFilter">
          <div class="panel-heading">
            <h5> 
              <a href="#/profile/user/{{student.username}}">
                <img class="profile-image" src="{{student.image || placeholder.profileImage}}"/> 
                {{student.name}}
              </a> 
            </h5>
            <h5> <small> {{student.location.state + ", " + student.location.country}} </small> </h5>
          </div>
          <div class="panel-body"> {{getEducationDescription(student, currentInstitute._id)}} </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-if="isLoggedIn && !studiedHere(currentInstitute._id)">
        <h5> Studied here before? </h5>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addInstituteToProfile">Add to profile</button>
      </div>
      <div>
        <h5> Year of Establishment </h5>
        {{stringifyDate(toDate(currentInstitute.yearOfEstablishment))}}
      </div>
      <div>
        <h5> Location </h5>
        {{currentInstitute.location.state}}, {{currentInstitute.location.country}}, {{currentInstitute.location.zip}}
      </div>
      <div>
        <h5> Contact </h5>
        <a href="mailto:{{currentInstitute.email}}">{{currentInstitute.email}}</a>
      </div>
      <div>
        <h5> Website </h5>
        <a target="_blank" href="{{currentInstitute.website}}"> {{currentInstitute.website}}</a>
      </div>
    </div> 
  </div>
</div>
