<div class="container-fluid">
<div class="col-md-3">
  <img class="profile-image" src="{{currentUser.image || placeholder.profileImage}}" alt="{{currentUser.name}}'s image"/>
</div>
<div class="col-md-9">
  <h2>{{currentUser.name}} 
    <small>
      {{
      (currentUser.location.state && currentUser.location.country)?
      (currentUser.location.state + ", " + currentUser.location.country) 
      :
      (currentUser.location.country)? (currentUser.location.country) : ""
      }}
    </small>
  </h2>
  <div> {{currentUser.about_me}} </div>
  <div>
    <a class="btn btn-info" href="#profile/edit">Edit Profile</a>
    <form class="form inline" ng-submit="logout()">
      <button class="btn btn-warning">Logout</button>
    </form>
  </div>
</div>
</div>

<div class="container-fluid text-center">
  <div class="col-md-4">
    <h3> <span class="glyphicon glyphicon-briefcase"></span> Work History</h3>
    <div class="panel panel-default list-item" ng-repeat="work in currentUser.workHistory">
      <div class="panel-heading">
        <h5> <a href="#/profile/company/{{work._id.$id}}" title="{{work.about}}">{{work.name}}</a> , {{work.title}}</h4>
        <h5><small> {{work.duration}} </small></h4>
        <small> {{work.location.state + " " + work.location.country}} </small>
      </div>
      <div class="panel-body"> <p> {{work.description}} </p> </div>
    </div>
    <h5 ng-if="!currentUser.workHistory || currentUser.workHistory.length === 0"> <small> :( Nothing to show </small> </h4>
  </div>

  <div class="col-md-4">
    <h3> <span class="glyphicon glyphicon-sunglasses"></span> Social Profiles</h3>
    <div class="panel social-links" ng-if="currentUser.social.facebook">
      <div class="panel-heading"> <a href="{{currentUser.social.facebook}}" class="social social-facebook">Facebook</a> </div>
    </div>
    <div class="panel social-links" ng-if="currentUser.social.twitter">
      <div class="panel-heading"> <a href="{{currentUser.social.twitter}}" class="social social-twitter">Twitter</a> </div>
    </div>
    <div class="panel social-links" ng-if="currentUser.social.youtube">
      <div class="panel-heading"> <a href="{{currentUser.social.youtube}}" class="social social-youtube">YouTube</a> </div>
    </div>
    <div class="panel social-links" ng-if="currentUser.social.linkedin">
      <div class="panel-heading"> <a href="{{currentUser.social.linkedin}}" class="social social-linkedin">LinkedIn</a> </div>
    </div>
  </div>

  <div class="col-md-4">
    <h3> <span class="glyphicon glyphicon-education"></span> Education History</h3>
    <div class="panel panel-default list-item" ng-repeat="institute in currentUser.educationHistory">
      <div class="panel-heading">
        <h5> <a href="#/profile/institute/{{institute._id.$id}}" title="{{institute.about}}">{{institute.name}}</a> </h4>
        <h5><small> {{institute.duration}} </small></h4>
      </div>
      <div class="panel-body"> 
        <p> {{institute.degree}} in {{institute.discipline}},  {{institute.location.state + " " + institute.location.country}} </p>
        <p> {{institute.description}} </p>
      </div>
    </div> 
    <h5 ng-if="!currentUser.educationHistory || currentUser.educationHistory.length === 0"> <small> :( Nothing to show </small> </h4>
  </div>

</div>

