<div class="container-fluid">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <label> Filter results </label>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-search"></span>
          <input type="text" style="width:300px" class="form-control" placeholder="Search institute/companies" ng-model="searchFilter">
        </div>
      </div>
      <div class="form-group"> <label> <input type="checkbox" ng-model="includeCompanies"/> Include companies?  </label> </div>
    </form>
  </div><!-- /.container-fluid -->
</nav>
</div>

<div class="container">
  <div ng-class="{true: 'col-md-6', false: 'col-md-12'}[includeCompanies]">
    <h4> <span class="glyphicon glyphicon-education"></span> Institutes </h4>
    <div class="search-item panel panel-default" ng-repeat="i in institutes | filter: { 'name': searchFilter }">
      <div class="panel-heading">
        <h5><img src="{{i.image || placeholder.instituteImage}}"/><a href="#profile/institute/{{i._id}}">{{i.name}}</a></h5>
      </div>
      <div class="panel-body">
        {{i.about}}
      </div>
    </div>
  </div>
  <div class="col-md-6" ng-if="includeCompanies">
    <h4> <span class="glyphicon glyphicon-briefcase"></span> Companies </h4>
    <div class="search-item panel panel-default" ng-repeat="i in companies | filter: { 'name': searchFilter}">
      <div class="panel-heading">
        <h5><img src="{{i.image || placeholder.companyImage}}"/><a href="#profile/company/{{i._id}}">{{i.name}}</a> </h5>
      </div>
      <div class="panel-body">
        {{i.about}}
      </div>
    </div>
  </div>
</div>

