<div class="container-fluid">
 <div class="col-md-3">
    <img src="{{currentStudent.image}}" alt="{{i.name}}'s image"/>
 </div>
 <div class="col-md-9">
    <h2>{{currrentStudent.name}}</h2>
	COLLEGES ATTENDED : 
	<div ng-repeat="i in currrentStudent.educationHistory">
	{{i.name}} <small>{{i.from.getDate() + " / " + (i.from.getMonth()+1) + " / " + i.from.getFullYear()}} to {{i.to.getDate() + " / " + (i.to.getMonth()+1) + " / " + i.to.getFullYear()}}</small>
	<p>
		{{i.discipline}}	
		{{i.degree}}
	</p>
    </div>
	CURRENTLY : {{currrentStudent.workHistory[0].company || ""}}
 </div>
 </div>
 <div class="container-fluid text-center">
 <div class="col-md-4">
 <h3>WORK PROFILE</h3>
 <div class="search-item panel panel-default" ng-repeat="i in currrentStudent.workHistory">
    <div class="panel-heading">
      <h5>{{i.title}} , {{i.company}} ( {{i.from.getDate() + " / " + (i.from.getMonth()+1) + " / " + i.from.getFullYear()}}  - {{i.to || "present"}})</h5>
    </div>
    <div class="panel-body">
    {{i.description}}
    </div>
  </div>
  </div>
 
 <div class="col-md-4">
 <h3>EDUCATION</h3>
  <div class="search-item panel panel-default" ng-repeat="i in students">
    <div class="panel-heading">
      <h3>{{i.collegesAttended.name}}</h3>
    </div>
    <div class="panel-body">
    {{i.collegesAttended.span}}
    </div>
  </div> 
 </div>
 
 <div class="col-md-4">
 <h3>SOCIAL PROFILES</h3>
 
 </div>
 </div>
 