<div class="container-fluid">
 <div class="col-md-3">
    <img src="{{student[0].image}}" alt="{{i.name}}'s image"/>
 </div>
 <div class="col-md-9">
    <h2>{{students[0].name}}</h2>
	<div ng-repeat="i in students[0].educationHistory">
	<h3>{{i.name}} <small>{{i.from.getDate() + " / " + (i.from.getMonth()+1) + " / " + i.from.getFullYear()}} to {{i.to.getDate() + " / " + (i.to.getMonth()+1) + " / " + i.to.getFullYear()}}</small></h3>
	COLLEGES ATTENDED : 
	<p>
		{{i.discipline}}	
		{{i.degree}}
	</p>
    </div>
	CURRENTLY : {{students[0].workHistory[0].company || ""}}
 </div>
 </div>
 <div class="container-fluid text-center">
 <div class="col-md-4">
 <h3>WORK PROFILE</h3>
 <div class="panel panel-info">
 <div class="search-item panel panel-default" ng-repeat="i in students[0].workHistory">
    <div class="panel-heading">
      <h5>{{i.title}} , {{i.company}} ( {{i.from.getDate() + " / " + (i.from.getMonth()+1) + " / " + i.from.getFullYear()}}  - {{i.to || "present"}})</h5>
    </div>
    <div class="panel-body">
    {{i.description}}
    </div>
  </div>
  </div>
  </div>
 
 <div class="col-md-4">
 <h3>EDUCATION</h3>
  <div class="search-item panel panel-default" ng-repeat="i in students[0].educationHistory">
    <div class="panel-heading">
      <h3>{{i.name}}</h3>
    </div>
    <div class="panel-body">
	{{i.from + " " +  i.to}}
    </div>
  </div> 
 </div>
 
 <div class="col-md-4">
 <h3>SOCIAL PROFILES</h3>
 
 </div>
 </div>
 